In [35]:
import pandas as pd
from datasets import load_dataset

dataset = load_dataset("7Xan7der7/us_airline_sentiment")

df = pd.DataFrame(dataset["train"])

In [36]:
# Keeping only the columns we need

df = df[['text', 'airline_sentiment']]

df.head()

                                                text airline_sentiment
0                @VirginAmerica What @dhepburn said.           neutral
1  @VirginAmerica plus you've added commercials t...          positive
2  @VirginAmerica I didn't today... Must mean I n...           neutral
3  @VirginAmerica it's really aggressive to blast...          negative
4  @VirginAmerica and it's a really big bad thing...          negative

In [37]:
df.duplicated().sum()

np.int64(188)

In [38]:
df = df.drop_duplicates()

In [39]:
import re

def clean_tweet(text):
    text = text.lower()
    text = re.sub(r'@\w+', '', text)
    text = re.sub(r'https?://\S+', '', text)
    text = re.sub(r'[^a-z\s]', '', text)
    text = re.sub(r'\s+', ' ', text).strip()
    
    return text

In [40]:

sample = "@VirginAmerica I HATE this flight!!! http://badflight.com #fail"
print(f"Original: {sample}")
print(f"Cleaned:  {clean_tweet(sample)}")

Original: @VirginAmerica I HATE this flight!!! http://badflight.com #fail
Cleaned:  i hate this flight fail

In [41]:
# Apply the cleaning function on our data

df['cleaned_text'] = df['text'].apply(clean_tweet)

df[['text', 'cleaned_text']].head()

                                                text                                       cleaned_text
0                @VirginAmerica What @dhepburn said.                                          what said
1  @VirginAmerica plus you've added commercials t...  plus youve added commercials to the experience...
2  @VirginAmerica I didn't today... Must mean I n...  i didnt today must mean i need to take another...
3  @VirginAmerica it's really aggressive to blast...  its really aggressive to blast obnoxious enter...
4  @VirginAmerica and it's a really big bad thing...            and its a really big bad thing about it

In [42]:
df.to_csv('../data/cleaned_tweets.csv', index=False)